<% include ../../partials/head %>
<% include ../../partials/nav %>
<% include ../../partials/scripts %>
<% include ../../partials/sidebar %>

<div class="main-footer">

  <% if(success != null) { %>
    <div class="alert alert-success">
      <%= success %>
   </div>
  <% } %>

    <div class="table-wrapper">

       
        <a href="/admin/departments/add/<%= department_id %>">
          <button style="font-size: 24px"class="fa fa-user-plus btn-success"> Add new employee
          </button>
        </a>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No#</th>
                        <th scope="col">Mobile No#</th>
                        <th scope="col">Address</th>
                        <th scope="col">Designation</th>
                    </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < employees.length; i++) { %>
                    <tr>
                      <!-- <td><img src='' alt='<%= employees[i].first_name +  employees[i].last_name %>'/></td> -->
                      <td><%= employees[i].last_name %>, <%= employees[i].first_name %></td>
                      <td><%= employees[i].email %></td>
                      <td><%= employees[i].phone %></td>
                      <td><%= employees[i].mobile %></td>
                      <td><%= employees[i].address %></td>
                      <td><%= employees[i].designation %></td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
    </div>
</div>
</body>
</html>
